html { 
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0px;}

body {
	background-image:  url('blog-posts/blog_images/escheresque.png');
	font-family: Ubuntu;
	font-weight: 400;
	margin: auto;}


/*Header*/

.title h1, h3{
	margin-left: 10px;
}

/*Top Navigation*/

.top-nav ul ul {
	display: none;
}

	.top-nav ul li:hover > ul {
		display: block;
	}

.top-nav ul {
	width: 100%;
	background: #1a1935;
	/*background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);*/ 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0px;
	/*border-radius: 10px;  */
	list-style: none;
	position: relative;
	display: inline-table;
	margin: 0px;
}
	.top-nav ul:after {
		content: ""; clear: both; display: block;
	}

.top-nav ul li {
	float: left;
}
	.top-nav ul li:hover {
		background: #fc5938;
		/*background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);*/
	}
		.top-nav ul li:hover a {
			color: #fff;
		}
	
	.top-nav ul li a {
		display: block; padding: 25px 40px;
		color: #fc5938; text-decoration: none;
	}	

.top-nav ul ul {
	width: 15%;
	background: #48586F; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	.top-nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #48586F;
		position: relative;
	}
		.top-nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			.top-nav ul ul li a:hover {
				background: #fc5938;
			}

.top-nav ul ul ul {
	width: 100%;
	position: absolute; left: 100%; top:0;
}	


.container {
	margin: 0px;
	padding: 15px;
	background-color: #9798A0;}


/*Gif of the Week*/


/*  SECTIONS  */
.section1 {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
	background: #EFEDDA;
}

img {
	width: 100%;
}

.section1 {	text-align: center;}
.section1 h2 {color: #1a1935;}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%;
	}
}

/*Post Preview*/

/*  SECTIONS  */
.section2 {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.section2 h3 {color: #1a1935;}
.section2 h4, p { margin: 15px;}
	
	.section2 a {text-decoration: none;}
	.section2 a:hover {color: #fc5938;}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
	background: #EFEDDA;	
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%;
	}
}

/*FOOTER*/

footer {
	background-color: #1a1935;
	padding-left: 20px;
	padding-right: 20px;
}


/*  SECTIONS  */
.section3 {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.section3 h3 {color: #fc5938;}
.section3 p {color: #fff;}
.section3 p a { 
 	color: #fff;
 }

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.13%;
}
.span_1_of_3 {
	width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

/*Bottom Nav*/

.bottom-nav ul {
	list-style: none;
}
.bottom-nav li {
	border-top: solid 1px;
	border-color: #EFEDDA;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bottom-nav a {
	text-decoration: none;
	color: #EFEDDA;
}

	.bottom-nav a:hover {
		color: #fff;
	}