body {margin: 0px;}

.myheader {
	background: #1a1935;
	height: 200px;
	padding: 10px;
	text-align: center;
	color: #fc5938;
	font-family: Helvetica;
	font-size: 25px;
	z-index: -1;
	}

.navbar {
	background: #fc5938;
	width: 100%;
	height: 30px;
	position: relative;
	top: 0px;
	}

ul {
	list-style: none;
	font-size: 18px;
	font-family: helvetica;
	margin: 0px;
	padding: 5px;
	padding-left: 565px;
	}

li {float: left;}

a {text-decoration: none;
	display: block;
	width: 70px;
	text-align: center;
	color: white;
	text-align: center;
	}


.blogbase {
	background: #efedda;
	width: 100%;
	position: relative;
	top: 0px;
	z-index: -1;
	}

.blogbox {
	background: white;
	width: 700px;
	padding: 10px;
	margin: 0px;
	position: relative;
	left: 310px;
	top: 0px;
	z-index: -1;
	}

#posttitle {
	color: #1a1935;
	font-family: helvetica;
	padding-left: 5px;
	}

#author {
	color: #fc5938;
	font-family: helvetica;
	padding-left: 5px;
	}
#date {
	color: #fc5938;
	font-family: helvetica;
	padding-right: 5px;
	position: relative;
	top: -40px;
	left: 82%;
}

article {font-family: helvetica;}