html{
	margin: 0px;
	padding: 0px;
}

body {
	background-image:  url('blog_images/escheresque.png');
	font-family: Ubuntu;
	font-weight: 400;
	margin: auto;}

/*Header w/ title & tagline*/
header {
	background-color: #1a1935;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
		}	
h1 {color: #fc5938;
	text-align: center;
	font-family: Ubuntu;
	font-weight: 400;
	font-size: 50px;}

h3 {color: #fc5938;
	text-align: center;
	font-family: Ubuntu;
	font-weight: 400;
	font-size: ;
	position: relative;
	top: -15px; }

/*NavBar*/

nav p {
	font-size: 30px;
	text-align: center;}

.navhome {
	width: 400px;
	background-color: #fc5938;
	margin: auto;
}

.navabout {
	width: 400px;
	background-color: #fc5938;
	margin: auto;
	}
.navblog {
	width: 400px;
	background-color: #fc5938;
	margin: auto;}

.navhbn {
	width: 400px;
	background-color: #fc5938;
	margin: auto;}

.navcontact{
	width: 400px;
	background-color: #fc5938;
	margin: auto;}

nav a {
	color: white;
	text-decoration: none;
	}

nav a:hover {
	color: #1a1935;
}

/*Featured Section*/
.blogbox {
	
	margin: auto;
	}		

/*Appies to links wihthin the post*/	
.blogbox a {
	text-decoration: none;
	color: #1a1935;}

.blogbox a:hover {color: #fc5938;}

img {float: left;
	padding: 20px;}


article {
	position: relative;
	top: 15px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin: auto;
}

article h2, h4, h3, a, {padding-left: 15px;}
article h3 {text-align: left}

article p {padding-left: 15px;
	padding-right: 15px;}

.resource li {text-decoration: none;
list-style: none;}

/*Recent*/

.recent {
	position: relative;
	top: 40px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin: auto;
}

.recent a:hover {color: #fc5938}
.recent a {text-decoration: none;
			color: #1a1935}


/*Footer*/
footer {
	width: 100%;
	height: 20px;
	text-align: center;
	color: #fc5938;
	position: relative;
	top: 20px;
}