body {font-family: helvetica;}

.container {
	width: 960px;
}
.navBar {
	height: 70px;
	width: 100%;
	background-color: yellow;
	font-size: 20px;
	text-align: center;
}
.navBar a {
	color: black;
	text-decoration:none;

	margin: 20px;
}	          

.navBar a:hover {color: red;}

.navBar ul {	            
	 list-style:none;
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	   	-webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;          
}
.header {
	background-color: #2E5BD6;
	padding: 5px;
}
h1, h3 {   
	font-family: georgia;
	color: yellow;              
	text-align: center              
}
.what, .why {
	border-style: solid;
	border-bottom: dotted;
	border-top:none;
	border-right:none;
	border-left:none;
}
h2 {
	font-family: georgia;
	color: #2E5BD6;
	text-align: center;           
}
img {
	width: 150px;
	position:relative;
	float: left;
	margin: 5px 5px 5px 5px;
}
.footer { 
	background-color:#2E5BD6;
	height:25px;
	text-align: center;
	color: white;
}